<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Core\shiftschedule.domain.entities\packages.config" />
  <repository path="..\src\Data Access\ShiftSchedule.DAL\packages.config" />
  <repository path="..\src\User Interface\ShiftSchedule.UI.MVC\packages.config" />
</repositories>